


.c{
   
    color: orangered;
    width: 500px;
    background-color:black;
    box-shadow: 2px 2px 4px 6px orangered;
    height: 233px;
    padding-left: 56px;
    padding-top: 47px;
    border-radius: 140px;
    position: absolute;
   
  
    
}
.row{
    width: 600px;
    height: 400px;
    background-image: url(mediaa/cartoon.avif);
    background-size: cover;
    
    
    border: 7px solid black;
    box-shadow: 2px 2px 4px 6px orangered;
    position: relative;
    left: 590px;
    top: -92px;
    
    
}
.c1{
    width: 626px;
    height: 470px;
   position: relative;
    background-image: url(mediaa/children-having-meal-table_1308-31461.avif);
    
    top:-79px ;
    
}
.c2{
    width: 200px;
    height: 272px;
    border: 7px solid rgb(16, 13, 12);
    box-shadow: 2px 2px 4px 6px orangered;
    background-image: url(mediaa/menu.jpg);
    position: relative;
    left: 725px;
    top: -439px;
}



.c3{

    width: 189px;
    height: 267px;
    border: 8px solid black;
    box-shadow: 2px 2px 4px 6px orangered;
    background-image: url(mediaa/menu\ 2.jpg);
    position: relative;
    left: 1000px;
    top: -720px;
 
}
.row2{
    width: 98%;
    height: 300px;
    border: 2px solid white;
    display: flex;
    justify-content:space-around ;
    position: absolute;
    top: 977px;
  

    
}
.cc{
    
     width: 218px;
    height: 233px;
    border: 5px solid rgb(17, 20, 9);
    position: relative;
    box-shadow: 2px 2px 4px 6px orangered;
    

    
}
/* .cc:hover{
   
   
    transform: rotate(50deg)
} */
@keyframes anim{
    /* 0%{
        width: 0%;
    }
    40%{
        width:auto ;

    }
    80%{
        width: auto;
    } */
   




}





.cc1{

    background-image: url(mediaa/burger.jpg);
    
    
    }

   

h4{
    margin-top: 185px;
}

    
        
    

.cc2{
    background-image: url(mediaa/chicken.png);
}
.cc3{
    background-image:url(mediaa/piza.png); 
}
.cc4{
    background-image: url(mediaa/cake.jpg);
}
h1{
    color:#52c436;
    margin-top: 192px;
    margin-left: 50px;

}
hh1{
    margin-top: 21px;
    font-size: 40px;
    padding-left: -16px;
}
h2{
    font-size: 2opx;
    padding-left: -18px;
}
.p{
    color: yellowgreen;
    font-size: 20px;
    margin-top: -491px;
}
label{
    margin-left: 261px;
    font-size: 50px;
    
}